.pagination-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.pagination-btn {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
}
.pagination-btn-left,
.pagination-btn-right {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
  transition: opacity 0.3s;
}
.pagination-btn-left:disabled,
.pagination-btn-right:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
