.cart-btn {
  border-radius: "6px";
  border: 1px solid #ccc;
}

.cart-menu {
  width: 25vw;
  height: 50vh;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 1000;
  position: absolute;
  top: 40px;
  right: 0px;
  background-color: white;
  overflow-y: auto;
  scrollbar-width: thin;
  box-sizing: border-box;
}
.basket-container {
  position: relative;
}

.empty-card {
  margin-left: 15px;
}
.cart {
  width: 90%;
  height: 100px;
  padding: 8px;
  overflow: hidden;
}
.card-title {
  position: relative;
  left: 90px;
  bottom: 90px;
  width: max-content;
}
.request-btn {
  width: 70px;
  height: auto;
  border-radius: 6px;
  border: 1px solid orange;
  color: orange;
  background-color: white;
  cursor: pointer;
  position: relative;
  left: 90px;
  bottom: 90px;
}
