.filter-container {
  margin-top: 50px;
}
.color-container {
  width: max-content;
}
.color-list,
.sort-list,
.brand-list {
  list-style: none;
  padding: 0;
}
.color-item,
.sort-item,
.brand-item {
  cursor: pointer;
  color: black;
  margin-bottom: 5px;
}
.color-item.selected,
.sort-item.selected,
.brand-item.selected {
  color: orange;
}
